@charset "utf-8";

body { background: #1e2e48; font-family: Microsoft Yahei;}
#bzzx .le_nav li.cur { background: #ccc; box-shadow: 2px 2px 5px #000 inset;}

#bzzx { width: 1000px; border: 1px solid #1e437e; margin: 10px auto; padding-bottom: 5px; box-shadow: 0 0 5px #000;}
	#bzzx h1 { text-align: center; font-size: 16px; padding: 10px 0px; color: #fdbb7a; letter-spacing: 2px;}
	#bzzx .le_nav { float: left; border: solid 1px #383ba6; margin: 5px; padding: 5px; border-radius: 2px;}
	#bzzx .le_nav li { width: 180px; height: 26px; line-height: 26px; text-align: center; border: solid 1px #6467d2; margin: 5px 0px; padding: 5px 0px; box-shadow: 0px 0px 2px #888; border-radius: 3px;}
	#bzzx .le_nav li a { color: #fac128; font-size: 14px; text-shadow: 1px 1px 1px #000;}
	
	#gywm { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#gywm dl { margin: 5px;}
	#gywm dt { font-size: 16px; font-weight: bold; color: #fff;}
	#gywm dd { padding: 10px 0px; color: #c3daff;}
	#gywm .ig { width: 540px; height: 770px; background: url(../images/u76.jpg) no-repeat; margin: auto;}
	
	#bywz { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#bywz .ig { width: 560px; height: 396px; background: url(../images/u82.jpg) no-repeat; margin: auto;}
	
	#yhxy { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#yhxy .yh_tk { margin: 10px;}
	#yhxy h2 { margin: 10px 0px; color: #fff; font-size: 16px; margin-left: 10px;}
	#yhxy p { line-height: 20px; color: #c3daff; margin: 0px 10px;}
	.yh_tk li { color: #c3daff;}
	
	#yszc { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#yszc h2 { margin: 10px 0px; color: #fff; font-size: 16px; margin-left: 10px;}
	#yszc p { line-height: 20px; color: #c3daff; margin: 0px 10px;}
	
	#yxzr { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#yxzr h2 { margin: 10px 0px; color: #fff; font-size: 16px; margin-left: 10px;}
	#yxzr p { line-height: 20px; color: #c3daff; margin: 0px 10px;}
	
	#cjwt { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; border-radius: 2px;}
	#cjwt h2 {  margin: 10px 0px; color: #fff; font-size: 16px; margin-left: 10px;}
	#cjwt h3 { margin: 10px 0px; color: orange;}
	#cjwt p { line-height: 20px; color: #c3daff; margin: 0px 10px;}
	#cjwt img { margin: auto; display: block;}
	
	#lxwm { float: left; padding: 5px; width: 780px; border: solid 1px #383ba6; margin-top: 5px; position: relative; border-radius: 2px;}
	#lxwm p { line-height: 45px; color: #c3daff; margin: 0px 10px;}
	#lxwm .ig { position: absolute; right: 10px; bottom: 10px; background: url(../images/u108.jpg); width: 313px; height: 312px;}
	
	
	