@charset:"utf-8";
* { padding: 0px; margin: 0px; font-size: 12px; font-family: arial;}
body { background: #000;}
li { list-style: none;}
a { text-decoration: none;}

#head { width: 980px; background: #000; height: 130px; margin: auto;}
	#logo { margin: 20px 0px 0px 10px; float: left;}
	#language { float: right; color: #7d7d7d; width: 294px; margin-top: 30px;}
	#language select { background: #000; color: #7d7d7d;}
	#lxkf { float: right; margin-top: 10px;}

#nav { height: 30px; background: #ccc; opacity: 0.5; filter: alpha(opacity=50);}
	#nav_ul { display: table; height: 30px; width: 980px; margin: auto;}
	#nav_ul li { float: left; width: 98px; height: 30px; line-height: 30px; text-align: center;}
	#nav_ul a { color: #fff; display: block;}
	#nav_ul a:hover { background: #0781E9;}

#middle { width: 980px; height: 578px; background: url(/static/img/player/index/middle.png) no-repeat -1px 0px; margin: auto; margin-top: 20px; margin-bottom: 25px;}

#foot { background: #042E54 url(/static/img/player/index/foot_img.png) no-repeat center 50px; height: 395px;}
	#foot ul { display: table; margin: auto; padding-top: 20px;}
	#foot ul li { float: left; color: #7F94A8; }
	#foot ul li a { color: #7F94A8; }
	#foot ul li a:hover { text-decoration: underline;}
	#foot p { color: #7F94A8; width: 980px; text-align: center; margin: auto;}
	#foot p a { color: #7F94A8; text-decoration: underline;}
